BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
Cpp11BracedListStyle: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
PointerAlignment: Left
AllowShortBlocksOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: true
